---
import Header from '../../components/Header.astro';
import Layout from '../../layouts/Layout.astro';
type Project = {
	title: string;
	description: string;
	liveLink: string;
	githubLink?: string;
};
const projectsData: Project[] = [
	{
		title: 'CouponLap',
		description: 'Built with Next.js 14, Supabase, Cloudinary, and PostgreSQL.',
		liveLink: 'https://couponlap.in/',
	},
	{
		title: 'Admin Dashboard',
		description: 'Next.js 14, Vercel, PostgreSQL, Server Actions.',
		liveLink: 'https://nextjs-admin-dashboard-alpha.vercel.app/',
		githubLink: 'https://github.com/Akshaygore1/nextjsAdminDashboard',
	},
	{
		title: 'Cryptoowl',
		description:
			'Developed using React, Material UI, CoinGecko API, and Context API.',
		liveLink: 'https://cryptoowl.netlify.app/',
		githubLink: 'https://github.com/Akshaygore1/Crypto-Owl',
	},
	{
		title: 'E-Commerce CMS',
		description: 'Next.js 14, PlanetScale, Prisma, Zustand.',
		liveLink: 'https://storemanagerhub.vercel.app',
		githubLink: 'https://github.com/Akshaygore1/Crypto-Owl',
	},
	{
		title: 'E-Commerce',
		description: 'Next.js 14, PlanetScale, Prisma, Zustand.',
		liveLink: 'https://myecommerceshop.vercel.app/',
		githubLink:
			'https://github.com/Akshaygore1/Next-Js-Ecommerce/tree/main/store',
	},
	{
		title: 'Restaurant Website',
		description: 'Using HTML, CSS, JavaScript',
		liveLink: 'https://myrestraurant.netlify.app/',
		githubLink: 'https://github.com/Akshaygore1/Restraurant-Website',
	},
];
---

<Layout title='Welcome to '>
	<main>
		<div class='headerContainer'>
			<Header title='Projects' icon='ðŸ—‚ï¸' />
		</div>
		<div class='projects-container'>
			{
				projectsData.map((project, index) => (
					<div class='project-card'>
						<h3>{project.title}</h3>
						<p>{project.description}</p>
						<div class='links'>
							<a
								href={project.liveLink}
								target='_blank'
								rel='noopener noreferrer'
							>
								Live
							</a>
							{project.githubLink && (
								<a
									href={project.githubLink}
									target='_blank'
									rel='noopener noreferrer'
								>
									GitHub
								</a>
							)}
						</div>
					</div>
				))
			}
		</div>
	</main>
</Layout>
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.headerContainer {
		margin-bottom: 20px;
		padding-top: 16px;
	}

	.projects-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 16px;
	}

	.project-card {
		border-radius: 8px;
	}

	.project-card h3 {
		font-size: 16px;
		padding: 0;
		margin: 0;
	}

	.project-card p {
		font-size: 14px;
		color: rgb(163 163 163);
		margin: 0; /* Remove margin */
	}

	.links a {
		margin-right: 10px;
		color: #ddd;
		text-decoration: underline;
		font-size: 12px;
		padding: 0;
	}

	.links a:hover {
		text-decoration: none;
	}
</style>
