@font-face {
  font-family: "Graphik";
  src: url("/font/graphik-font.woff2") format("woff2");
}

/* @import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"); */
@import "tailwindcss";

* {
  font-family: "Graphik", sans-serif;
}

/* .dark {
  background-color: #1c1c1e;
  color: #f5f5f5;
} */

@custom-variant dark (&:where(.dark, .dark *));
